"*":
  "exception-reporting":
    userId: "b60c9b9b-70af-7001-856e-8814154d5a86"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "spacegray-dark-ui"
      "one-dark-vivid-syntax"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
      "rails-transporter"
      "ruby-test"
      "symbols-tree-view"
    ]
    disabledPackages: [
      "wrap-guide"
    ]
  editor:
    invisibles: {}
    fontSize: 17
    tabLength: 4
    fontFamily: "Droid Sans Mono"
    showIndentGuide: true
    scrollPastEnd: true
    preferredLineLength: 110
  "ruby-test":
    rspecAllCommand: "bundle exec rspec --tty -f d spec"
    rspecFileCommand: "bundle exec rspec --tty -f d {relative_path}"
    rspecSingleCommand: "bundle exec rspec --tty -f d {relative_path}:{line_number}"
    specFramework: "rspec"
  "atom-fuzzy-grep":
    preserveLastSearch: true
  "go-to-view":
    default_ending: ".html.haml"
  "run-command2": {}
  "one-dark-ui": {}
  "autocomplete-plus": {}
  "quantum-shell": {}
  rspec:
    command: "bundle exec rspec -fp"
    save_before_run: true
  "isotope-ui":
    fontFamily: "Ubuntu"
    fontWeight: "Regular"
    spaciousMode: true
    backgroundGradient: true
  "git-blame":
    ignoreWhiteSpaceDiffs: true
  blame: {}
  "color-tabs-regex":
    regexEngine: "String.match"
    breakAfterFirstMatch: true
  "color-tabs":
    borderSize: 3
    borderStyle: "bottom"
    backgroundStyle: "none"
  "fuzzy-finder": {}
  linter: {}
  emmet: {}
  "wrap-and-pad":
    pairs: [
      {
        name: "parenthesis"
        start: "("
        pad: " "
        end: ")"
      }
      {
        name: "brackets"
        start: "["
        pad: " "
        end: "]"
      }
      {
        name: "curly-brackets"
        start: "{"
        pad: " "
        end: "}"
      }
      {
        name: "rspec-it"
        start: "it {"
        pad: " "
        end: "}"
      }
    ]
  "git-plus": {}
  "rails-transporter": {}
  "toggle-quotes": {}
  "linter-rubocop": {}
  "linter-ruby":
    ignoredExtensions: [
      "erb"
      "md"
      "haml"
      "html.haml"
      "yml"
      "yaml"
    ]
  pigments:
    ignoredNames: [
      "node_modules/*"
      "spec/*"
      "test/*"
      "vendor/assets/javascript/*"
    ]
    traverseIntoSymlinkDirectories: true
    groupPaletteColors: "by file"
    sortPaletteColors: "by color"
    mergeColorDuplicates: true
  "find-and-replace": {}
  "advanced-open-file":
    helmDirSwitch: true
  "symbols-tree-view": {}
  counter: {}
  "git-log": {}
  "ruby-block-converter": {}
  "clipboard-plus": {}
  jumpy: {}
  "status-bar": {}
  "file-icons": {}
  "tool-bar": {}
  "flex-tool-bar": {}
  term3: {}
  "file-watcher":
    includeCompareOption: false
  "atom-beautify":
    _analyticsUserId: "fefe8e4c-80b1-42ed-975d-2b18d09cec65"
  minimap:
    plugins:
      "git-diff": true
  "tidy-tabs":
    minimumTabs: 5
  "api-workbench": {}
  "smart-tab-name": {}
  semanticolor:
    affectedSourceObjects:
      enableVariables: false
    colorDiversity: 120
  "dark-flat-ui":
    accentColor: "blue"
  "steam-pirate-ui":
    layoutMode: "Spacious"
  "tree-view": {}
".rspec.ruby.source":
  "multi-wrap-guide":
    columns: [
      110
      80
    ]
  editor:
    preferredLineLength: 80
".rails.ruby.source":
  "multi-wrap-guide":
    columns: [
      110
      80
    ]
  editor:
    preferredLineLength: 80
".css.scss.source":
  editor:
    tabLength: 2
".haml.text":
  editor:
    tabLength: 2
    preferredLineLength: 110
".hamlc.text":
  editor:
    tabLength: 2
    preferredLineLength: 110
".source.yaml":
  editor:
    tabLength: 2
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      110
      80
    ]
".git-config.source":
  editor:
    preferredLineLength: 80
".git-rebase.text":
  editor:
    preferredLineLength: 72
".git-commit.text":
  editor:
    preferredLineLength: 72
    softWrap: false
    softWrapAtPreferredLineLength: false
".litcoffee.source":
  editor:
    tabLength: 2
".coffee.source":
  editor:
    tabLength: 2
".sass.source":
  editor:
    tabLength: 2
".ruby.source":
  editor:
    tabLength: 2
    preferredLineLength: 80
  "multi-wrap-guide":
    columns: [
      110
      80
    ]
