'atom-workspace':
  'ctrl-alt-i': 'editor:toggle-indent-guide'

  'alt-r c': 'rails-transporter:open-controller'
  'alt-r v': 'rails-transporter:open-view-finder'
  'alt-r m': 'rails-transporter:open-model'
  'alt-r h': 'rails-transporter:open-helper'
  'alt-r s': 'rails-transporter:open-spec'

  'alt-r alt-c': 'rails-finder:toggle-controller'
  'alt-r alt-m': 'rails-finder:toggle-model'
  'alt-r alt-v': 'rails-finder:toggle-view'
  'alt-r alt-h': 'rails-finder:toggle-helper'
  'alt-r alt-i': 'rails-finder:toggle-mailer'
  'alt-r alt-s': 'rails-finder:toggle-spec'
  'alt-r alt-l': 'rails-finder:toggle-lib'
  'alt-r alt-a': 'rails-finder:toggle-asset'
  'alt-r alt-o': 'rails-finder:toggle-config'
  'alt-r alt-d': 'rails-finder:toggle-db'
  'alt-r alt-g': 'rails-finder:toggle-log'
  'alt-r alt-r': 'rails-finder:toggle-root'

  'alt-v': 'clipboard-plus:toggle'

  'ctrl-alt-t': 'symbols-tree-view:toggle'

  'alt-w alt-9': 'wrap-and-pad:wrap-and-pad-with-parenthesis'
  'alt-w alt-[': 'wrap-and-pad:wrap-and-pad-with-curly-brackets'
  'alt-w alt-]': 'wrap-and-pad:wrap-and-pad-with-brackets'

'.platform-linux atom-workspace':
  'alt-p ctrl-t': 'ruby-test:test-file'
  'alt-p ctrl-c': 'ruby-test:cancel'
  'alt-p ctrl-r': 'ruby-test:test-single'
  'alt-p ctrl-e': 'ruby-test:test-previous'
  'alt-p ctrl-a': 'ruby-test:test-all'

'atom-text-editor:not([mini])':
  'ctrl-alt-enter': 'emmet:interactive-expand-abbreviation'
  'ctrl-e': 'emmet:expand-abbreviation'
  'alt-e down': 'emmet:decrement-number-by-01'
  'alt-e alt-down': 'emmet:decrement-number-by-10'
  'alt-e up': 'emmet:increment-number-by-01'
  'alt-e alt-up': 'emmet:increment-number-by-10'
