sqerp:
  title: "sqerp"
  paths: [
    "/home/user/Projects/sqerp"
  ]
  icon: "icon-broadcast"
sqteam:
  title: "sqteam"
  paths: [
    "/home/user/Projects/sqteam"
  ]
  icon: "icon-organization"
redstat:
  title: "redstat"
  paths: [
    "/home/user/Projects/redstat"
  ]
  icon: 'icon-graph'
