[
  {
    type: 'url'
    icon: 'octoface'
    url: 'https://github.com'
    tooltip: 'GitHub'
    style:
      color: '#ee9'
  }
  {
    type: 'spacer'
  }
  {
    type: 'button'
    icon: 'diff-added'
    callback: 'application:new-file'
    style:
      color: '#ad8'
  }
  {
    type: 'button'
    icon: 'file-symlink-directory'
    callback: 'copy-path:copy-project-relative-path'
    tooltip: 'Copy relative path'
    style:
      color: '#aae'
  }
]
